*REGISTER CSS*/ body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.vid-container {
    position: relative;
    /*height:100vh;*/
    /*overflow:hidden;*/
}

.bgvid.back {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.inner {
    position: absolute;
}

.inner-container {
    width: 400px;
    height: 400px;
    position: absolute;
    top: calc(50vh - 300px);
    left: calc(50vw - 200px);
    /*overflow:hidden;*/
}


/*.bgvid.inner{
  top:calc(-50vh + 200px);
  left:calc(-50vw + 200px);
  -webkit-filter:blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter:blur(10px);*/


}
.box {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: Helvetica;
    color: #fff;
    background: rgba(0, 0, 0, 0.13);
    padding: 30px 0px;
}
.box h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
}
.box input {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 0;
}
.box input:focus,
.box input:active,
.box button:focus,
.box button:active {
    outline: none;
}
.box button {
    background: #742ECC;
    border: 0;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    width: 330px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}
.box button:active {
    background: #27ae60;
}
.box p {
    font-size: 14px;
    text-align: center;
}
.box p span {
    cursor: pointer;
    color: #666;
}
.navbar-default {
    border-color: rgba(35, 35, 35, .05);
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
    background-color: #222;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    border-bottom: 35;
}
.navbar-header > .navbar-brand {
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
    color: #9c27b0;
    padding: 15px;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}
.navbar-header > .navbar-brand:hover,
.navbar-header > .navbar-brand:focus {
    color: #8b27b0;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #181818;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse {
    border-color: transparent;
}
.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #eee;
}
.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #9c27b0;
}
.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #9c27b0 !important;
    background-color: #181818;
}
.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: #181818;
}
form .form-signin {
    top: 50px;
    bottom: 100px;
}
div .form-editProfile {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    top: 50px;
    bottom: 80px;
}
