<body>
<ng-include src="'/templates/homeNavbar.html'"></ng-include>
<header id="first">
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive"> Prattle </h1>
                <h4>Have a conversation anywhere you go!</h4>
                <hr>
                <a href="#video-background" id="toggleVideo" data-toggle="collapse" class="btn btn-primary btn-xl">Toggle Video</a> &nbsp; <a href="#/register" class="btn btn-primary btn-xl">Get Started</a>
                <hr>
            </div>
        </div>
        <video id="Video1" class="bgvid back" autoplay="true" muted="muted" preload="auto" loop='true'>
      <source src="/video/Swimming.mp4" type="video/mp4">
      <source src="/video/driving.mp4" type="video/mp4">
  </video>
    </header>
</body>

     
